*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
   
}
.page{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 32px 0 black;
}
.image{
    width: 100%;
    height: 100%;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    position: relative;
    overflow: hidden;
}
.light{
    width: 250px;
    height: 250px;
    
    border-radius: 100%;
    position: relative;
    transition: 1s;
   
}
.light::before{
    content: '';
    width: 250px;
    height: 250px;
    
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 1s;
    background-color: white;
    box-shadow: 0 10px 9000px 0 yellow,inset 10px 10px 100px 0px yellow;


}
.light::after{
    content: '';
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color:black;
    top: 220px;
    left: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s;
}
.bot{
    width: 30px;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: -100px;
    left: 110px;
}
.bot::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    bottom: -14px;
    left: 6px;
}
.sign{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    transition: 1s;
}
.image h1{
    color: black;
    margin-bottom: 20px;
    padding-bottom: 20px;
    transition: 1s;
    letter-spacing: 2px ;
}
.image h1::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin:auto;
}
.page:hover .sign{
    background-color: white;
}
.page:hover .image{
    background-color: black;
}
.page:hover .image h1{
    color: white;
    animation: move3 10s infinite;
}
.page:hover h1::after{
    animation: move5 10s infinite;
   
}
.page:hover .sign h1{
    color: black;
    letter-spacing: 2px;
}
.page:hover ::before{
    box-shadow: 0 10px 9000px 0 yellow,inset 100px 100px 100px 100px orange;
    animation: move2 10s infinite;

}
.page:hover ::after{
    background-color: wheat;
}
.boxx{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow:  0 8px 32px 0 yellow;
    border-radius: 100%;
    position: absolute;
    animation: move 10s infinite;
}
.boxx1{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow:  0 8px 32px 0 yellow;
    border-radius: 100%;
    animation: move1 10s infinite;
    position: absolute;
}
@keyframes move {
    0%{
        top: 0px;
        left: 0;
    }
    25%{
        background-color:yellowgreen ;
    }
    50%{
        top: 100%;
        left: 100%;
        box-shadow: 0 8px 102px 0 coral;
        background-color: coral;
        border-radius: 0px;
    }
    75%{
        background-color: gold;
        box-shadow: 0 8px 102px 0 gold;
    }
    100%{
        background-color: cyan;
        box-shadow: 0 8px 102px 0 cyan;
        top: 0px;
        left: 0;
    }
}

@keyframes move1 {
    0%{
        top: 0px;
        right: 0;
    }
    25%{
        background-color:yellowgreen ;
    }
    50%{
        top: 100%;
        right: 100%;
        box-shadow: 0 8px 102px 0 coral;
        background-color: coral;
        border-radius: 0px;
    }
    75%{
        background-color: gold;
        box-shadow: 0 8px 102px 0 gold;
    }
    100%{
        background-color: cyan;
        box-shadow: 0 8px 102px 0 cyan;
        top: 0px;
        right: 0;
    }
}
@keyframes move2 {
    0%{
        box-shadow: 0 10px 9000px 0 yellow,inset 100px 100px 100px 100px orange;
  
    }
    25%{
        box-shadow: 0 10px 9000px 0 yellowgreen,inset 100px 100px 100px 100px yellowgreen;
  
    }
    50%{
        box-shadow: 0 10px 9000px 0 coral,inset 100px 100px 100px 100px coral;
  
    }
    75%{
        box-shadow: 0 10px 9000px 0 gold,inset 100px 100px 100px 100px gold;
  
    }
    100%{
        box-shadow: 0 10px 9000px 0 cyan,inset 100px 100px 100px 100px cyan;
  
    }
}
@keyframes move3 {
    0%{
        color: white;
    }
    25%{
        color: yellowgreen;
    }
    50%{
        color:coral
    }
    75%{
        color:gold
    }
    100%{
        color:cyan;
    }
}
@keyframes move5 {
    0%{
        background-color: white;
        width: 0;
    }
    25%{
        background-color: yellowgreen;
        width: 100%;
    }
    50%{
        background-color:coral;
        width: 0;
    }
    75%{
        background-color:gold;
        width: 100%;
    }
    100%{
        background-color:cyan;
        width: 0;
    }
}

.sign{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sign .inputs{
    width: 100%;
    height: 60%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputs input{
    width: 70%;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
    background-color: black;
    transition: 1s;
    outline: none;
}
.inputs button{
    padding: 10px 30px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}
.page:hover input{
    background-color: white;
}
.page:hover button{
    background-color: black;
    color: white;
}