*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
nav{
    width: 100%;
    height: 75px;
    background-color: aqua;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
ul li a{
    text-decoration: none;
    color: black;

}
ul li{
    list-style: none;
}

.checkbtn{
    color: yellow;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width: 1200px){
    nav{
padding: 0px 20px;
    }
    .checkbtn{
        display: block;
    }
    nav  ul{
        width: 100%;

        background-color: blue;
        position:fixed;
        top: 75px;  
        flex-direction: column;
        left:-100%;
        text-align: center;
        transition: 0.4s;
    
    }
    nav ul li{
        display: block;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
    
